.cf:before,.cf:after {
  content: " "; /* 1 */
display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.g-outer{
  width: 100%;
}

.g-inner{
  width: 100%;
  max-width: 940px;
  margin:0 auto;
}

.g-input-txt{
  background: #fff;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 12px;
   border: none;
   padding: 7px 2px;
   height: 28px;
}

.g-item-title-url{
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  font-family: Arial,​Helvetica,​sans-serif;
}

.g-input-txt:focus{
  background: #FCFCFC;
}

.g-buy{
  border: none;
  cursor: pointer;
}

.g-price{
    color: #F5AB02;
    font-size: 18px;
}

.g-price ins{
  text-decoration: none;
}

.g-second-title{
  font-size: 17px;
  line-height: 1.1;
  font-weight: bold;
  text-transform: capitalize;
}

.g-old-price{
  color: #C3C5C1;
  font-size: 15px;
}

.main-title{
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 31px;
  font-weight: bold;
  text-transform: uppercase;

}

input[type=text],input[type=password],input[type=email]{
    background: #fff;
   font-family: Arial,Helvetica,sans-serif;
   font-size: 12px;
   border: none;
  padding: 8px 2px;
}


.g-input-submit{
  height: 27px;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  background: transparent url('../images/line-pattern.png') left top repeat;
}


*, *:before,*:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.fl{
  float:left;
}

.fr{
  float: right; 
}

.rel{
  position: relative;
}

.abs{
  position: absolute;
}

.cb{
  clear: both;
}

.cl{
  clear: left;
}

.cr{
  clear: right;
}



/*editor*/

.editor {
  color: #878B84;
  font-size: 12px;
  font-family: Arial,​Helvetica,​sans-serif;
}

.editor p{
  margin: 4px 0;
}

.editor a{
  text-decoration: none;
  color: #72B349;
}

.editor a:hover{
  text-decoration: underline;
}


/*END editor*/


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

button{
  margin: 0;
}

[hidden] {
    display: none;
}

html {
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

img {border : 0;max-width: 100%;}

a img {outline : none;}

html, body {
    margin: 0;
    padding:0;
}
h1,h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}


a:active,
a:hover, 
a:focus {
    outline: 0;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}



mark {
    background: #ff0;
    color: #000;
}


code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}


pre {
    white-space: pre-wrap;
}

small {
    font-size: 80%;
}


sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input, textarea {
  -webkit-appearance: none;
    border-radius: 0;
}

textarea, input { outline: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
