body{
	background: url("../images/body-bg.gif") repeat scroll left top rgba(0, 0, 0, 0);
	color: #878B84;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 17px;
}

/*header*/

.head-wrap{
	background: transparent url('../images/top-bg.gif') left top repeat-x;
	min-height: 170px;
}

.top-nav{
	margin-left: 30px;
	padding: 15px 0 0 0;
}

.top-nav-item{
	font-size: 12px;
	color: #fff;
	text-transform: capitalize;
	text-decoration: none;
	margin-left: 15px;
}

.top-nav-item:hover{
	color: #DFFA3E;
}

.search-wrap{
	margin: 10px 0 0 0;
}

.search-inputs-wrap{
	padding: 2px;
	background: #fff;
	height: 31px;
}

.search-input-txt{
	width: 158px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: -1px;
}

.search-input-submit{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-ms-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
}

.search-input-submit:focus{
	background-position: 150px top;
}

.log-reg-wrap{
	right: 90px;
	top: 90px;
}

.login{
	color: #878B84;
	font-size: 12px;
	text-decoration: none;
	text-transform: capitalize;
}

.login:hover{
	color: #72B349;
}

.cart-wrap{
	right: 10px;
	top:60px;
	width: 70px;
	height: 70px;
}

.cart{
	background:transparent url('../images/cart.png ') center center no-repeat;
	width: inherit;
	height: inherit;
	text-align: center;
	display: table;
	text-decoration: none;
}

.item-count{
	display: table-cell;
	vertical-align: middle;
	font-size: 31px;
	color: #fff;
}

.item-count:hover{
	color: #467628;
}

/*main nav menu*/

.main-nav-wrap{
	padding: 20px 0;
	border-style: solid;
	border-width: 1px 0;
	border-color: #D8D8D7;
	margin: -15px auto 50px;
}

.main-nav-item_one{
	display: inline-block;
	vertical-align: middle;
}

.main-nav-item_one:first-child{
	margin-left: 0;
}

.main-nav-item_one:before{
	content: '';
	width: 10px;
	height: 10px;
	background: #C0D722;
	display: inline-block;
	vertical-align: middle;
	margin: 0 15px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.main-nav-item-url_one{
	text-decoration: none;
	text-transform: uppercase;
	font-family: ;
	font-size: 21px;
	color: #878B84
}

.main-nav-item-url_one:hover{
	color: #72B349;
}

.main-nav-item_one:first-child:before{
	display: none;
}


/*slider-banner*/

.slider-wrap{
	margin-bottom: 40px;
}

.brns-wrap{
	width: 300px;
}

.brns-item{
	width: 300px;
	height: 200px;
	display: block;
	margin-bottom: 15px;
}

.brns-item:last-child{
	margin-bottom: 0;
}

/*item-lists*/

.item-lists-wrap{
	background: rgba(237, 237, 237, 0.55);
	width: 65.95%;
	border: 1px solid #fff;
}

.sidebar{
	background: #fff;
	width: 31.91%;
	height: 400px;   /*temp*/
}

/*plugins*/


#coin-slider-coin-slider{
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	height: 415px;
	margin-right: 20px;
	overflow: hidden;
	position: relative;
	width: 620px;
	z-index: 2;

}

#coin-slider {
    height: 385px;
    margin: 15px;
    overflow: hidden !important;
}

#cs-navigation-coin-slider {
    display: none !important;
}

#cs-title-coin-slider{
	bottom: 91% !important;
	width: 100%;
	height: auto;
}

#cs-buttons-coin-slider{
	background: rgba(255,255,255, 0.8);

	border-radius: 2px;
	bottom: 36px;
	left: 272px;
	padding: 5px 8px 5px 2px;
	position: absolute;
}

.cs-buttons a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #B8C4CF;
    background: #fff;
    float: left;
    height: 13px;
    margin-left: 5px;
    text-indent: -1000px;
    width: 13px;
    border: none;
}

.cs-buttons a:hover {
    background: #79CA45;
}

.cs-button-coin-slider.cs-active{
	background: #79CA45;
}