body{
	background: url("../images/body-bg.gif") repeat scroll left top rgba(0, 0, 0, 0);
	color: #878B84;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 17px;
}



/*plugins*/


#coin-slider-coin-slider{
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	height: 415px;
	margin-right: 20px;
	overflow: hidden;
	position: relative;
	width: 620px;
	z-index: 2;
}

#coin-slider {
    height: 385px;
    margin: 15px;
    overflow: hidden !important;
}

#cs-navigation-coin-slider {
    display: none !important;
}

#cs-title-coin-slider{
	bottom: 91% !important;
	width: 100%;
	height: auto;
}

#cs-buttons-coin-slider{
	background: rgba(255,255,255, 0.8);

	border-radius: 2px;
	bottom: 38px;
	left: 272px;
	padding: 5px 8px 5px 2px;
	position: absolute;
}

.cs-buttons a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #B8C4CF;
    background: #fff;
    float: left;
    height: 15px;
    margin-left: 5px;
    text-indent: -1000px;
    width: 15px;
    border: none;
}

.cs-buttons a:hover {
    background: #79CA45;
}

.cs-button-coin-slider.cs-active{
	background: #79CA45;
}