html{
	height: 100%;
	min-height: 100%;
}

body{
	background: url("../images/body-bg.gif") repeat scroll left top rgba(0, 0, 0, 0);
	color: #878B84;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	line-height: 17px;
	position: relative;
	min-height: 100%;
	padding-bottom: 140px;
}

/*header*/

.head-wrap{
	background: transparent url('../images/top-bg.gif') left top repeat-x;
	min-height: 170px;
}

.top-nav{
	margin-left: 30px;
	padding: 15px 0 0 0;
}

.top-nav-item{
	font-size: 12px;
	color: #fff;
	text-transform: capitalize;
	text-decoration: none;
	margin-left: 15px;
}

.top-nav-item:hover{
	color: #DFFA3E;
}

.search-wrap{
	margin: 10px 0 0 0;
}

.search-inputs-wrap{
	padding: 2px;
	background: #fff;
	height: 31px;
}

.search-input-txt{
	width: 158px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: -1px;
}

.search-input-submit{
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	font-family: 'PT Sans Narrow', sans-serif;
	
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-ms-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
}

.search-input-submit:focus{
	background-position: 150px top;
}

.log-reg-wrap{
	right: 90px;
	top: 100px;
}

.login{
	color: #878B84;
	font-size: 12px;
	text-decoration: none;
	text-transform: capitalize;
}

.login:hover{
	color: #72B349;
}

.cart-wrap{
	right: 0;
	top:70px;
	width: 70px;
	height: 70px;
}

.cart{
	background:transparent url('../images/cart.png ') center center no-repeat;
	width: inherit;
	height: inherit;
	text-align: center;
	display: block;
	text-decoration: none;
}

.item-count{
	display: inline-block;
	vertical-align: middle;
	font-size: 33px;
	color: #fff;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	margin-top: 30px;
}

.cart-wrap:hover .item-count{
	color: #467628;
}

/*main nav menu*/

.main-nav-wrap{
	padding: 12px 0;
	border-style: solid;
	border-width: 1px 0;
	border-color: #D8D8D7;
	margin: -15px auto 50px;
}

.main-nav-item_one{
	display: inline-block;
	vertical-align: middle;
}

.main-nav-item_one:first-child{
	margin-left: 0;
}

.main-nav-item_one:before{
	content: '';
	width: 10px;
	height: 10px;
	background: #C0D722;
	display: inline-block;
	vertical-align: middle;
	margin: 0 13px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-top: -4px;
}

.main-nav-item-url{
	text-decoration: none;
}

.main-nav-item-url_one{
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 21px;
	color: #878B84
}

.main-nav-item-url_one:hover{
	color: #72B349;
}

.main-nav-item_one:first-child:before{
	display: none;
}

.main-nav-sub_sub{
	top: 250%;
	padding: 10px 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.main-nav-item.lastItem .main-nav-sub_sub{
	right: 0;
}

.main-nav-item:hover > .main-nav-sub_sub{
	top: 150%;
	visibility: visible;
	opacity: 1;
}


.main-nav-sub.main-nav-sub_sub.abs:before {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: -13px;
    width: 100%;
}

.main-nav-sub{
	z-index: 20;
	font-family: 	Arial,​Helvetica,​sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	width: 130%;
	font-weight: bold;
	background: transparent url('../images/forbg.gif') 0 0 repeat;
}

.main-nav-sub_subsub{
	left: 206%;
	top: 0;
	z-index: -1 !important;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.main-nav-item_two.has:hover > a:before{
	position: relative;
	right: -90%;
}

.main-nav{
	display: table;
}

.main-nav-item.lastItem .main-nav-item_two.has:hover > a:before{
	position: relative;
	right: 10px;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}


.main-nav-item_two.has:hover .main-nav-sub_subsub{
	left:100%;
	opacity:1;
	visibility: visible;
}

.main-nav-item.lastItem .main-nav-item_two.has:hover .main-nav-sub_subsub{
	left: -130%;
}


.main-nav-item-url_two, .main-nav-item-url_three{
	color: #fff;
	display: block;
	padding: 4px 4px 4px 15px;
}

.main-nav-item-url_two:before{
	content: '';
	width: 0;
	position: relative;
	right: 0;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	height: 0;
	vertical-align: middle;
	display: inline-block;
	border-style: solid;
	border-width: 6px;
	border-color:transparent transparent transparent #fff;
	
}

.main-nav-item-url_two:hover, .main-nav-item-url_three:hover{
	color: #E1F840;
}


/*slider-banner*/

.slider-wrap{
	margin-bottom: 40px;
}

.brns-wrap{
	width: 300px;
}

.brns-item{
	width: 300px;
	height: 200px;
	display: block;
	margin-bottom: 15px;
}

.brns-item:last-child{
	margin-bottom: 0;
}

/*main-content*/

.main-content{
	margin-bottom: 40px;
}

/*item-lists*/

.item-lists-wrap{
	background: rgba(237, 237, 237, 0.55);
	width: 65.95%;
	border: 1px solid #fff;
}

.item-lists-title{
	padding:30px;
}

.item-lists-item{
	width: 166px;
	height: 240px;
	margin-left: 30px;
	margin-bottom: 30px;
}

.item-lists-item-url{
	width: 100%;
	height: 135px;
	display: block;
	overflow: hidden;
	margin-bottom: 25px;
	position: relative;
}

.item-lists-item-url:before{
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	border: 3px solid #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.item-lists-item-url:hover:before{
	border-width: 0;
}

.item-lists-item-title{
	height: 38px;
	overflow:hidden;
	margin-bottom: 5px;
}

.item-lists-item-title-url{
	color: #61983E;
}

.item-lists-item-title-url:hover{
	color: #F5AB02;
}

.item-lists-item-buy{
	background: transparent url('../images/forbg.gif') 0 0  repeat;
	display: block;
	padding: 8px 4px 9px 8px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

.item-lists-item-buy:after{
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	position: relative;
	left: 0;
	margin-left: 4px;
	border-style: solid;
	border-width: 6px;
	border-color: transparent transparent transparent #fff;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.item-lists-item-price{
	padding-top: 6px;
}

.item-lists-item-buy:hover{
	opacity: 0.7;
}

.item-lists-item-buy:hover:after{
	left: 4px;
}

/*sidebar*/

.sidebar{
	background: #fff;
	width: 31.91%;
}

.sidebar-title{
	padding: 30px;
}

.sidebar-title-url{
	color: #74B24D;
	text-decoration: none;
}

.sidebar-title-url:hover{
	color: #538434;
}

.sidebar-item{
	width: 83%;
	margin:0 auto 30px;
}

.sidebar-item-img-url{
	width: 100px;
	height: 80px;
	display: block;
	overflow: hidden;
	margin-right: 10px;
	border: 1px solid #fff;	
}

.sidebar-item-title{
	height: 38px;
	overflow: hidden;
	margin-bottom: 5px;
}

.sidebar-item-title-url{
	text-decoration: none;
	color: #61983E;
}

.sidebar-item-title-url:hover{
	color: #F6B113;
}

.sidebar-item-old-price{
	padding-bottom: 5px;
}

/*main-foot*/

.main-foot{
	padding-top: 40px;
	border-top: 1px solid #E0E0E0;
	
	height: 100px;
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
}

.bottom-nav-item{
	color: #878B84;
	margin-left: 15px;
	text-decoration: none;
}

.bottom-nav-item:first-child{
	margin-left: 0;
}

.bottom-nav-item:hover{
	color: #72B349;
}

.copy *{
	color: #72B349;
	font-size: 12px;
}

.copy-site{
	text-decoration: none;
}

.copy-site:hover{
	color: #F5AB02;
}

.cms:hover{
	text-decoration: none;
}





/*plugins*/


#coin-slider-coin-slider{
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	height: 415px;
	margin-right: 20px;
	overflow: hidden;
	position: relative;
	width: 620px;
	z-index: 2;

}

#coin-slider {
    height: 385px;
    margin: 15px;
    overflow: hidden !important;
}

#cs-navigation-coin-slider {
    display: none !important;
}

#cs-title-coin-slider{
	bottom: 91% !important;
	width: 100%;
	height: auto;
}

#cs-buttons-coin-slider{
	background: rgba(255,255,255, 0.8);

	border-radius: 2px;
	bottom: 36px;
	left: 272px;
	padding: 5px 8px 5px 2px;
	position: absolute;
}

.cs-buttons a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #B8C4CF;
    background: #fff;
    float: left;
    height: 13px;
    margin-left: 5px;
    text-indent: -1000px;
    width: 13px;
    border: none;
}

.cs-buttons a:hover {
    background: #79CA45;
}

.cs-button-coin-slider.cs-active{
	background: #79CA45;
}